{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<main>
    <section class="langind">
        <div class="landing-content">
            <div class="landing-card">
                <div class="card-body">
                    <h1 class="card-title">Art-Peintre</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                </div>
                <div class="card-link">
                    <a href="#">Decouvrir Mon Portfolio <span id="space"></span> <span class="fa-solid fa-arrow-right"></span></a>
                    
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="home-content">
            <header>Dernieres Réalisations <span></span> </header>
            <div id="real">
                <a href="#">
                    <div class="real-content">
                        <div class="real-img">
                            <img src="./imgs/house.jpg" alt="" width="150" height="150">
                        </div>
                        <div class="real-desc">
                            <h1>Titre de l'oeuvre</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, libero?</p>
                            <span id="date-real">Ajoute le 12/04/2023</span>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="real-content">
                        <div class="real-img">
                            <img src="./imgs/house.jpg" alt="" width="150" height="150">
                        </div>
                        <div class="real-desc">
                            <h1>Titre de l'oeuvre</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, libero?</p>
                            <span id="date-real">Ajoute le 12/04/2023</span>
                        </div>
                    </div>
                </a>
            </div>
    
            <header>Dernieres Actualités <span></span></header>
            <div id="actu">
                <div class="actu-content">
                    <a href="#">
                        <div class="actu-item">
                            <h1>Titre du Actualites</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, libero?</p>
                            <span id="date-actu">publier le 12/04/2023</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="actu-item">
                            <h1>Titre du Actualites</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, libero?</p>
                            <span id="date-actu">publier le 12/04/2023</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="actu-item">
                            <h1>Titre du Actualites</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, libero?</p>
                            <span id="date-actu">publier le 12/04/2023</span>
                        </div>
                    </a>
            </div>
        </div>
    
    </section>
</main>


{% endblock %}
