{% block body %}
<section class="footer">
    <div class="footer-content">
        <div class="">
            <h1 class="footer-logo">
                <a href="#">Art-Peintre</a>
            </h1>
        </div>
        <div class="">
            <h1>Menu</h1>
            <p><a href="#">Réalisation</a></p>
            <p><a href="#">Actualités</a></p>
            <p><a href="#">Portfolio</a></p>
            <p><a href="#">A propos</a></p>
        </div>
        <div class="hide">
            <h1>Informations</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui.</p>
        </div>
        <div class="">
            <h1>Mentions légales</h1>
            <p><a href="#">Politiques de confidentialitées</a></p>
        </div>
    </div>
</section>
{% endblock %}