{% block body %}

<section class="header">
    <div class="header-content">
        <h1 class="header-logo">
            <a href="{{ path('app_home') }}">Art-Peintre</a>
        </h1>
        <ul>
            <li>
                <a href="{{ path('app_realisations') }}" class="{% if current_menu is defined and current_menu == 'realisations' %}active{% endif %}">
                    Réalisations
                </a>
            </li>
            <li>
                <a href="{{ path('app_actualites') }}" class="{% if current_menu is defined and current_menu == 'actualites' %}active{% endif %}">
                    Actualités
                </a>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">A propos</a>
            </li>
            <li>
                <a href="#">Me Contacter</a>
            </li>
        </ul>
        <div class="contact">
            <a href="#">Me Contacter</a>
        </div>
        
        <div class="toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</section>

{% endblock %}
