{% extends 'base.html.twig' %}

{% block body %}
   
    <section class="profile" style="background-image: url('imgs/profile.jpg');">
        <div class="content">
            <h1>{{ user.prenom }} {{ user.nom }} </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque velit omnis, nostrum nam laborum alias illo iusto ea voluptates modi cum sunt. Expedita voluptatem aperiam fugit. Mollitia, maxime id. Eaque!</p>
        </div>

    </section>
{% endblock %}