{% extends '@EasyAdmin/page/content.html.twig' %}
{% block title %}Art-Peintre Administration{% endblock %}

{% block content %}
    <section>
        <div>
            <h1 style="text-align: center;">Art-Peintre Administration</h1>
            <p style="text-align: center; font-size: 17px;">Bienvenue dans l'interface d'Administration du site</p>
        </div>
    </section>
{% endblock %}