{% extends '@EasyAdmin/page/content.html.twig' %}
{% block title %}Art-Peintre Administration{% endblock %}

{% block content %}
    <section>
        <div class="">
            <header>Art-Peintre Administration</header>
            <p>Bienvenue dans l'interface d'Administration du site</p>
        </div>
    </section>
{% endblock %}