// css du form contact de grafikart
// #form{
//     display: none;
// }

// .disabled{
//     display: block !important;
// }

body{
    margin: 0 10px;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

